<nav>
    <ul>
        <li>
            <a
                href="javascript:void(0);"
                [ngClass]="{ active: activeTab === tabs.STATE_WISE }"
                (click)="setSelection(tabs.STATE_WISE)"
                >STATEWISE</a
            >
        </li>
        <li>&nbsp;|&nbsp;</li>
        <li>
            <a
                href="javascript:void(0);"
                [ngClass]="{ active: activeTab === tabs.CASE_TIME_SERIES }"
                (click)="setSelection(tabs.CASE_TIME_SERIES)"
                >CASE TIME SERIES</a
            >
        </li>
        <li>&nbsp;|&nbsp;</li>
        <li>
            <a
                href="javascript:void(0);"
                [ngClass]="{ active: activeTab === tabs.TESTED }"
                (click)="setSelection(tabs.TESTED)"
                >TESTED</a
            >
        </li>
        <li>&nbsp;|&nbsp;</li>
        <li>
            <a
                href="javascript:void(0);"
                [ngClass]="{ active: activeTab === tabs.DISTRICT_WISE }"
                (click)="setSelection(tabs.DISTRICT_WISE)"
                >DISTRICT WISE</a
            >
        </li>
    </ul>
</nav>
<section id="covid-data-content">
    <div class="loading" *ngIf="apiStatusText">
        <h1>{{ apiStatusText }}</h1>
    </div>
    <div *ngIf="apiData && !isLoading">
        <div *ngIf="activeTab === tabs.STATE_WISE" class="state-wise">
            <table id="page-content">
                <tr>
                    <th>State</th>
                    <th>Confirmed</th>
                    <th>Active</th>
                    <th>Recovered</th>
                    <th>Deaths</th>
                </tr>
                <tr *ngFor="let data of apiData">
                    <td>{{ data?.state }}</td>
                    <td>{{ data?.confirmed }}</td>
                    <td>{{ data?.active }}</td>
                    <td>{{ data?.recovered }}</td>
                    <td>{{ data?.deaths }}</td>
                </tr>
            </table>
        </div>
        <div
            *ngIf="activeTab === tabs.CASE_TIME_SERIES"
            class="case-time-series"
        >
            <table id="page-content">
                <tr>
                    <th>Date</th>
                    <th>Daily Confirmed</th>
                    <th>Daily Recovered</th>
                    <th>Daily Deaths</th>
                    <th>Total Confirmed</th>
                    <th>Total Recovered</th>
                    <th>Total Deaths</th>
                </tr>
                <tr *ngFor="let data of apiData">
                    <td>{{ data?.date }}</td>
                    <td>{{ data?.dailyconfirmed }}</td>
                    <td>{{ data?.dailyrecovered }}</td>
                    <td>{{ data?.dailydeceased }}</td>
                    <td>{{ data?.totalconfirmed }}</td>
                    <td>{{ data?.totalrecovered }}</td>
                    <td>{{ data?.totaldeceased }}</td>
                </tr>
            </table>
        </div>
        <div *ngIf="activeTab === tabs.TESTED" class="tested">
            <table id="page-content">
                <tr>
                    <th>Updated On</th>
                    <th>Total Samples Tested</th>
                    <th>Total Positie Cases</th>
                    <th>Total Individuals Tested</th>
                    <th>Tests Per Confirmed Case</th>
                    <th>Tests Positivity Rate</th>
                </tr>
                <tr *ngFor="let data of apiData">
                    <td>{{ data?.updatetimestamp }}</td>
                    <td>{{ data?.totalsamplestested }}</td>
                    <td>{{ data?.totalpositivecases }}</td>
                    <td>{{ data?.totalindividualstested }}</td>
                    <td>{{ data?.testsperconfirmedcase }}</td>
                    <td>{{ data?.testpositivityrate }}</td>
                </tr>
            </table>
        </div>
        <div *ngIf="activeTab === tabs.DISTRICT_WISE" class="district-wise">
            <div>
                <label for="states">Please select a state: </label>
                <select
                    class="state-list"
                    [(ngModel)]="selectedState"
                    (change)="onStateChange()"
                    name="states"
                    id="states"
                >
                    <option *ngFor="let data of apiData" [value]="data.state">
                        {{ data.state }}
                    </option>
                    <option value=""> -- Select -- </option>
                </select>
            </div>
            <table *ngIf="selectedState" id="page-content">
                <tr>
                    <th>District Name</th>
                    <th>Confirmed</th>
                    <th>Active</th>
                    <th>Recovered</th>
                    <th>Deceased</th>
                </tr>
                <tr *ngFor="let district of stateData.district">
                    <td>{{ district?.name }}</td>
                    <td>{{ district?.data.confirmed }}</td>
                    <td>{{ district?.data.active }}</td>
                    <td>{{ district?.data.recovered }}</td>
                    <td>{{ district?.data.deceased }}</td>
                </tr>
            </table>
        </div>
    </div>
</section>
<footer></footer>
